<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Instagram</title>
  </head>
  <body>
    <h1>This page is belongs to @<%= data.name %></h1>
    <button>Follow</button>
    <button>Message</button>

    <h3>
      Followers : <%= data.followers %> &nbsp;&nbsp;&nbsp;&nbsp; Following : <%=
      data.following %>
    </h3>

    <!-- subtemplate  -->
    <%- include("./footer.ejs") %>
  </body>
</html>
