body{
    margin-left: 20px;
}
.chat {
    background-color: rgb(191, 212, 230);
    padding: 10px;
    border-radius: 16px;
    -webkit-border-radius: 16px;
    -moz-border-radius: 16px;
    -ms-border-radius: 16px;
    -o-border-radius: 16px;
    display: inline-block;
}

.msg{
    background-color: dodgerblue;
    color: white;
    padding: 2px 5px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}